<link href="~/css/StyleSheet.css" rel="stylesheet" />
@model IEnumerable<CarRent.Models.Rentals>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Rentals</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Registeration Number
            </th>
            <th> Make || Model </th>
            <th>
                @Html.DisplayNameFor(model => model.Driver)
            </th>
            <th>
                Phone No.
            </th>
            <th>
                Rent Date
            </th>

            <th>
                Return Date
            </th>
            <th>
                Comments
            </th>
         
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="del-@item.Id">
             <td>
                @Html.DisplayFor(modelItem => item.Car.RegisterationNumber)
            </td>
            <td> @(item.Car.Make + " || "+ item.Car.Model) </td>
            <td>
                @(item.Driver.Name + ' ' + item.Driver.Surname)
            </td>
             <td>
                @(item.Driver.PhoneNumber)
            </td>
             <td>
                 @(@item.RentData.Value.ToString("MM/dd/yyyy h:mm tt"))
             </td>
            <td>
                @if(item.ReturnDate.HasValue)
                    @(@item.ReturnDate.Value.ToString("MM/dd/yyyy h:mm tt"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td class="actions">
                @if (item.ReturnDate == null)
                {
                <form asp-action="ReturnDate" asp-controller="Rentals" asp-route-id="@item.Id">
                    <button class="btn btn-success" type="submit">Return </button> 
                </form>
                }

                <a href="#" onclick="del(event,@item.Id)" class="del-@item.Id btn btn-danger " >Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script>
         function del(e, id) {
             var data = { id: id };
            Swal.fire({
              title: 'Are you sure you want to delete it?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                   $(`.del-${id}`).remove();
                        $.ajax({
                            url: '@Url.Action("Delete", "Rentals")',
                            type:"POST",
                            contentType: 'application/x-www-form-urlencoded',
                            data: data,
                            success: function (data) {
                                console.log(data)
                            },
                            error: function (eventFromParam) {
                                console.log(eventFromParam)
                            }
                        })
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
              }
            })
            
        }
    </script>
   
}
